<div id="user-form-container">
  <% if flash[:success] || flash[:warning] %>
    <%= flash[:success] %>
    <%= flash[:warning] %>
  <% end %>

  <h4>Login</h2>
  <% if @error %>
	  <%= @error %>
  <% end %>
  <%= form_for User.new, url: login_path, method: :post do |f|%>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <button type="submit" name="Login">Login</button>
  </div>

  <% end %>
    <p>Or Authenticate via Google to get started:<%= link_to 'Google', '/auth/google' %>
    </p>
</div>
