<div id="user-form-container">
  <% if flash[:success] || flash[:warning] %>
    <%= flash[:success] %>
    <%= flash[:warning] %>
  <% end %>

  <h4 class="center teal-text text-lighten-3">Login</h4>

  <%= link_to('/auth/google', class: "center-btn") do %>
  	<%= image_tag 'btn_google_signin.png'%>
  <% end %>

  <% if @error %>
	  <%= @error %>
  <% end %>

  <%= form_for User.new, url: login_path, method: :post do |f|%>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="center-btn">
    <button class="btn" type="submit" name="Login">Login</button>
    <%= link_to 'Register', new_user_path, class: "btn", style: "margin-left:20px;" %>
  </div>

  <% end %>
</div>
