<%= form_for @child, url: "/users/"+current_user.id.to_s+"/children" do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "required" %>
  </div>
  <div>
    <%= f.label :allergies%>
    <%= f.text_field :allergies, class: "form-control" %>
  </div>

 <div>
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "datepicker", placeholder: "required"%>
  </div>

  <p>
    <%= f.submit 'Add Child', class: 'btn btn-default orange darken-3 add-child-btn' %>
    <%= link_to 'Cancel', user_path(current_user.id), class: 'btn add-child-btn orange darken-3 modal-close' %>
  </p>
<% end %>
