<%= form_for @child, url: {action: 'update'} do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div>
    <%= f.label :allergies%>
    <%= f.text_field :allergies, class: "form-control" %>
  </div>

  <div>
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: "datepicker"%>
  </div>

  <div>
  <%= f.submit 'Update Child Info', class: 'btn btn-default dash-btn btn orange darken-3' %>
  </div>

<% end %>
