<div class="row">
  <div class="col s12 m6">
    <div class="card grey lighten-3">
      <div class="card-content black-text">
        <span class="card-title headline teal-text"><%= @child.name %></span><div>
           <ul class-"">
            <li>Parent: <%= @child.parent.first_name %></li>
            <li>Allergies : <%= @child.allergies %></li>
            <li>Birthday: <%= @child.birthday %></li>
          </ul>
      </div>
      <div class="card-action">
        <%= link_to 'Edit Child Info', edit_user_child_path(@child.parent.id, @child.id), class: 'btn orange darken-3 dash-btn' %>
        <%= link_to 'Delete Child', user_child_path(@child.parent.id, @child.id), method: 'DELETE', class: 'btn orange darken-3 dash-btn' %>
      </div>
    </div>
  </div>
</div>


