<%= form_for @playdate, url: user_playdates_path(current_user.id) do |f| %>

  <div>
    <%= f.label :title%><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :time %><br />
    <%= f.time_field :time %>
  </div>

  <div>
    <%= f.label :location %><br />
    <%= f.text_field :location  %>
  </div><br />

  <div>
    <%= f.submit 'Create Playdate' %>
  </div>

<% end %>
