<div class="playdate_details">
  <h4><%= playdate.title %> hosted by <%= playdate.host.username %></h4>
  <p>Date and Time: <%= playdate.date.strftime("%B, %dth") %>  <%= playdate.time.strftime("%H:%m%P") %></p>
  <p>Description: <%= playdate.description %></p>
  <p>Attending:
    <ul>
      <% playdate.attending_guests.each do |g| %>
        <li><%= g.username %></li>
      <% end %>
    </ul>
  </p>
  <p>Pending:
    <ul>
      <% playdate.pending_guests.each do |g| %>
        <li><%= g.username %></li>
      <% end %>
    </ul>
  </p>
  <p>Location: <%= playdate.location %> (maybe a map here using google api!)</p>
  <%= link_to 'Message' %>
  <% if playdate.host.id == current_user.id %>
    <%= link_to 'Cancel Playdate', user_playdate_path, method: :delete %>
  <% else %>
    <% if current_user.attending_playdates.include?(playdate) %>
      <%= link_to 'Decline Invite', decline_invite_path(current_user.id, playdate.id) %>
    <% else %>
      <%= link_to 'Decline Invite', decline_invite_path(current_user.id, playdate.id) %>
      <%= link_to 'Accept Invite', accept_invite_path(current_user.id, playdate.id) %>
    <% end %>
  <% end %>
</div>
