<div class="playdate_details">
  <h4><%= playdate.title %></h4>
  <p>Date and Time: <%= playdate.date.strftime("%B, %dth") %>  <%= playdate.time.strftime("%H:%m%P") %></p>
  <p>Description: <%= playdate.description %></p>
  <p>Attending:
    <ul>
      <% playdate.guests.each do |g| %>
        <li><%= g.username %></li>
      <% end %>
    </ul>
  </p>
  <p>Location: <%= playdate.location %> (maybe a map here using google api!)</p>
  <%= link_to 'Message' %>
  <% if playdate.host.id == current_user.id %>
    <%= link_to 'Cancel Playdate', user_playdate_path, method: :delete %>
  <% else %>
    <%= link_to 'No Longer Attending', decline_invite_path(current_user.id, playdate.id) %>
  <% end %>
</div>
