<h2>Playdates</h2>

<%= link_to 'Schedule New Playdate', new_user_playdate_path(@user.id) %>

<div class="pending-playdates">
  <h4>Pending Playdates</h4>
  <% @pending.each do |pending| %>
   <%= render partial: 'playdate', locals: {playdate: pending} %>
  <% end %>
  <%= link_to 'See All Pending Playdates'%>
</div>

<div class="scheduled-playdates">
  <h4>Scheduled Playdates</h4>
    <% @attending.each do |attending| %>
     <%= render partial: 'playdate', locals: {playdate: attending} %>
    <% end %>
  <%= link_to 'See All Playdates' %>
</div>
