<h2><%= @user.first_name %></h2>

<%= image_tag "648_dept13168" %>
<%= render 'users/profile' %>


<%= link_to "Pass", swipe_left_path(@user.id) %>
<%= link_to "Connect", swipe_right_path(@user.id) %>
git stat