<%= render 'filter' %>
<% if session[:narrow] && !session[:narrow].empty? %>
  <p> Current Filters:
    <% session[:narrow].each_pair do |k,v| %>
      <%= "#{k}: #{v} " %>
    <% end %>
    <%= link_to "Clear Filters", delete_filters_path(@user.id), method: :delete %>
  </p>
<% end %>

<h2><%= @user.first_name %></h2>

<div id="swiping_container">
	<%= render 'users/profile' %>
</div>

<%= link_to "Pass", swipe_left_path(@user.id), id:"pass" %>
<%= link_to "Connect", swipe_right_path(@user.id), id:"connect" %>


<script>
  swipeFunction();
</script>
