<% if flash[:notice]%>
<%= flash[:notice] %>
<% end %>

<ul class="profile-survey">
  <div class="center">
    <%= image_tag @user.avatar.url, size: '150', class: 'profile-pic'  if @user.avatar?%>
  </div>

  <% if @user.children.any? %>
    <ul> Children:
      <% @user.children.each do |child| %>
        <li><%= link_to child.name, user_child_path(child.parent.id,child.id) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if authorized?(@user) %>
    <% if @user.survey.zipcode  %>
      <li class="bold-survey">Zipcode: <%= @user.survey.zipcode %></li>
    <% end %>
    <% if @user.survey.radius%>
      <li class="bold-survey">Radius Preference: <%= @user.survey.radius %> miles</li>
    <% end %>
  <% end %>

    <% if @user.survey.gender %>
    <li class="bold-survey">Gender: <%= @user.survey.gender %>
    <% end %>

    <li class="bold-survey">Vaccinate: <%= vaccinate?(@user.survey) %></li>

    <% if @user.survey.marital_status %>
    <li class="bold-survey">Relationship Status: <%= @user.survey.marital_status.capitalize %> </li>
    <% end %>

    <% if @user.survey.parenting_style %>
    <li class="bold-survey">Parenting Style: <%= @user.survey.parenting_style %></li>
    <% end %>

    <% if @user.survey.date_night %>
    <li class="bold-survey">Ideal Date Night: <%= @user.survey.date_night %></li>
    <% end %>

    <% if @user.survey.shopping_prefs %>
    <li class="bold-survey">I shop at: <%= @user.survey.shopping_prefs %></li>
    <% end %>

    <% if @user.survey.religion %>
    <li class="bold-survey">Thoughts On Religion: <%= @user.survey.religion %></li>
    <% end %>

    <% if @user.survey.fav_activities%>
    <li class="bold-survey">Favorite Activities: <%= @user.survey.fav_activities %></li>
    <% end %>

    <% if @user.survey.music != nil %>
    <li class="bold-survey">Music Preferences: <%= format_music_choices(@user.survey) %></li>
    <% end %>

    <% if @user.survey.bio %>
      <li class="bold-survey">About You: <br/ ><%= @user.survey.bio %></li>
    <% end %>


  </ul>
</p>
