<% if flash[:notice]%>
<%= flash[:notice] %>
<% end %>
<div class="profile-survey">
<ul >
  <div class="center">
    <% if current_controller?('users') %>
      <%  if @user.avatar?%>
        <%= image_tag @user.avatar.url, size: '150x150', class: "profile-pic"%>
      <% else %>
        <%= image_tag "kinder-icon-circle.png", :size => '150x150'%>
      <% end %>
    <% end %>
  </div>

  <% if @user.children.any? %>
    <ul> <span class="bold">Children:</span>
      <% @user.children.each do |child| %>
        <li><%= link_to child.name, user_child_path(child.parent.id,child.id) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if authorized?(@user) %>
    <% if @user.zipcode || @user.zipcode == "" %>
      <li><span class="bold">Zipcode:</span> <%= @user.zipcode %></li>
    <% end %>
    <% if @user.radius || @user.radius == ""%>
      <li><span class="bold">Radius Preference:</span> <%= @user.radius %> miles</li>
    <% end %>
  <% end %>

    <% if @user.gender %>
    <li><span class="bold">Gender:</span> <%= @user.gender %>
    <% end %>

    <li><span class="bold">Vaccinate:</span> <%= vaccinate?(@user) %></li>

    <% if @user.marital_status %>
    <li><span class="bold">Relationship Status:</span> <%= @user.marital_status.capitalize %> </li>
    <% end %>

    <% if @user.parenting_style %>
    <li><span class="bold">Parenting Style:</span> <%= @user.parenting_style %></li>
    <% end %>

    <% if @user.date_night %>
    <li><span class="bold">Ideal Date Night:</span> <%= @user.date_night %></li>
    <% end %>

    <% if @user.shopping_prefs %>
    <li><span class="bold">I shop at:</span> <%= @user.shopping_prefs %></li>
    <% end %>

    <% if @user.religion || @user.religion == ""%>
    <li><span class="bold">Thoughts On Religion:</span> <%= @user.religion %></li>
    <% end %>

    <% if @user.fav_activities || @user.fav_activities == ""%>
    <li><span class="bold">Favorite Activities:</span> <%= @user.fav_activities %></li>
    <% end %>

    <% if @user.music != nil %>
    <li><span class="bold">Music Preferences:</span> <%= format_music_choices(@user) %></li>
    <% end %>

    <% if @user.bio || @user.bio == "" %>
      <li><span class="bold">About You:</span> <br/ ><%= @user.bio %></li>
    <% end %>


  </ul>
</p>
</div>
