<% if flash[:welcome_notice] %>
  <%= flash[:welcome_notice]%>
<% end %>

<%= form_for @user do |f| %>
  <p>
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p>
    Vaccinate?
    <%= f.radio_button :vaccinate, "Yes" %>
    <%= f.label :Yes %>
    <%= f.radio_button :vaccinate, "No" %>
    <%= f.label :No %>
  </p>
  <p>
    Thoughts on
    <%= f.label :religion %>
    <%= f.text_field :religion %>
  </p>
  <p>
    Parenting Approach:
    <%= f.select :parenting_style, [
      "Figure It Out As We Go",
      "Carefully Research Everything",
      "Whatever The Kardashians Are Doing",
      "I Do What My Mom Tells Me To",
      "Some Of This, Some Of That"
      ], :prompt => 'Select One' %>

  </p>
  <p>
  Ideal Date Night:
    <%= f.select :date_night, [
    "Turn Up At The Club",
    "Romantic Dinner And Drama Movie",
    "Hotdogs And Horror Movie",
    "Frozen Pizza And Blaze One",
    "Dive Bar And Shitty Garage Band",
    "Cant Go Out We Have Kids",
       ], :prompt => 'Select One' %>
  <p>
    I Like To Shop At:
      <%= f.select :shopping_prefs, [
    "Jack And Jill",
    "Carter's",
    "Walmart",
    "I Make My Own Clothes",
    "Target",
    "Thrift It!"
        ], :prompt => 'Select One' %>

  </p>
  <p>
    <%= f.label :fav_activities %>
    <%= f.text_area :fav_activities %>
  </p>
  <p>
    Musical Preferences:
    <%= f.label :music, "Hip Hop" %>
    <%# check_box :music, "Hip Hop" %>
    <%= check_box_tag 'user[music][]', 'Hip Hop'%>
    <%= f.label :music, "R&B/Soul" %>
    <%= check_box_tag 'user[music][]', "R&B/Soul"%>
    <%= f.label :music, "Jam Bands" %>
    <%= check_box_tag 'user[music][]', "Jam Bands" %>
    <%= f.label :music, "House And Techno" %>
    <%= check_box_tag 'user[music][]', 'House And Techno' %>
    <%= f.label :music, "Classical And Jazz" %>
    <%= check_box_tag 'user[music][]', "Classical And Jazz" %>
    <%= f.label :music, "Ambient And Drone Synth" %>
    <%= check_box_tag 'user[music][]', "Ambient And Drone Synth" %>
    <%= f.label :music, "Metal And Hardcore" %>
    <%= check_box_tag 'user[music][]', "Metal And Hardcore" %>
    <%= f.label :music, "Pop Country" %>
    <%= check_box_tag 'user[music][]', "Pop Country" %>
    <%= f.label :music, "Disney Radio" %>
    <%= check_box_tag 'user[music][]', "Disney Radio" %>
    <%= f.label :music, "Gospel" %>
    <%= check_box_tag 'user[music][]', "Gospel" %>
    <%= f.label :music, "Classic Rock" %>
    <%= check_box_tag 'user[music][]', "Classic Rock" %>
    <%= f.label :music, "Indie Rock" %>
    <%= check_box_tag 'user[music][]', "Indie Rock" %>
    <%= f.label :music, "Ska And Punk" %>
    <%= check_box_tag 'user[music][]', "Ska And Punk" %>
  </p>

  <%= f.submit 'Save' %>
<% end %>
