<h2>Dashboard</h2>

<% if @user.friends.empty? %>
  <p>Start Kindering or Add Connections Directly to Schedule Playdates!</p>
<% else %>
  <%= link_to 'Schedule New Playdate', new_user_playdate_path(@user.id) %>
<% end %>
<div class="connections">
  <h4>Recent Connections</h4>
  <% @user.friends.each do |friend| %>
    <%= friend.username %>
  <% end %>
</div>

<div class="pending-playdates">
  <h4>Pending Playdates</h4>
  <% @pending.each do |pending| %>
   <%= render partial: 'playdates/playdate', locals: {playdate: pending} %>
  <% end %>
  <%= link_to 'See All Pending Playdates', root_path %>
</div>

<div class="scheduled-playdates">
  <h4>Scheduled Playdates</h4>
  <% @attending.each do |attending| %>
   <%= render partial: 'playdates/playdate', locals: {playdate: attending} %>
  <% end %>
  <%= link_to 'See All Playdates', root_path %>
</div>
