<h4 class="center teal-text text-lighten-3 headline"><%= @user.first_name %>'s Dashboard</h4>

<% if flash[:friending] %>
  <p class="center-align orange-text"><%= flash[:friending] %></p>
<% end %>

<div class="dashboard-link center">
  <% if @user.friends.empty? %>
    <p>Start Kindering or Add Connections Directly to Schedule Playdates!</p>
    <% if @pending.empty? && @attending.empty? %>
      <p>No scheduled or pending playdates</p>
    <% end %>
  <% else %>
    <button class="waves-effect orange darken-3 btn-flat"><%= link_to 'New Playdate', new_user_playdate_path(@user.id), class: "white-text" %></button>
  <% end %>
    <button class="waves-effect orange darken-3 btn "><%= link_to 'Start Kinder!', kinders_path, class: "white-text " %></button>
</div>

<div class="connections">
  <% if !@user.friends.empty? %>
        <ul class="collection with-header">
          <li class="collection-header white-text teal lighten-3"><h6>Recent Connections</h6></li>
          <% @user.friends.take(3).each do |friend| %>
            <li class="collection-item">
              <%= link_to(user_path(friend), class: "recent-connect") do %>
              <span class="recent-connect-avatar">
                <%  if friend.avatar? %>
                  <%= image_tag friend.avatar.url, size: '30x30', class: "profile-pic"%>
                <% else %>
                  <%= image_tag "kinder-icon-circle.png", :size => "30x30" %>
                <% end %>
              </span>
              <span class="recent-connect-name"><%= friend.first_name%></span>
              <% end %>
            </li>
          <% end %>
          </ul>
    <% end %>
    <% if !@user.pending_direct_add.empty? %>
    <ul class="collection with-header">
      <li class="collection-header white-text teal lighten-3 "><h6>Pending Connections</h6></li>
      <% @user.pending_direct_add.each do |friend| %>
        <li class="collection-item">
          <%= link_to(user_path(friend), class: "recent-connect") do %>
          <span class="recent-connect-avatar">
            <%  if friend.avatar? %>
              <%= image_tag friend.avatar.url, size: '30x30', class: "profile-pic"%>
            <% else %>
              <%= image_tag "kinder-icon-circle.png", :size => "30x30" %>
            <% end %>
          </span>
          <span class="recent-connect-name"><%= friend.first_name%></span>
          <% end %>
        </li>
    <% end %>
    </ul>
    <% end %>
  </div>

  <div class="pending-playdates">
    <% if !@pending.empty? %>
    <ul class="collection with-header">
      <li class="collection-header white-text teal lighten-3 "><h6>Pending Playdates</h6></li>
        <% @pending.each do |pending| %>
          <li class="collection-item" >
            <%= link_to(user_playdate_path(current_user.id, pending.id), class: "collection-item playdate-item") do %>
            <%= render partial: 'playdates/playdate', locals: {playdate: pending} %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="scheduled-playdates">
  <% if !@attending.empty? %>
    <ul class="collection with-header">
      <li class="collection-header white-text teal lighten-3 "><h6>Scheduled Playdates</h6></li>
        <% @attending.each do |attending| %>
        <li class="collection-item">
          <%= link_to(user_playdate_path(current_user.id, attending.id), class: "collection-item playdate-item") do %>
            <%= render partial: 'playdates/playdate', locals: {playdate: attending} %>
          <% end %>
        </li>
        <% end %>
    </ul>
    <% end %>
    <%# link_to 'See All Playdates'%>
  </div>
