<div id="user-form-container">
	<% if flash[:success] || flash[:warning] %>
	<%= flash[:success] %>
	<%= flash[:warning] %>
	<% end %>

	<h4 class="center teal-text text-lighten-3 headline">Registration</h4>
	<%= link_to('/auth/google', class: "center-btn") do %>
		<%= image_tag 'btn_google_signin.png'%>
	<% end %>

	<div class="row">
		<div class="col s12">
			<div class="card white">
				<div class="card-content black-text">
					<%= form_for @user do |f| %>
					<% if @user.errors.any? %>
					<ul>
						<% @user.errors.full_messages.each do |error| %>
						<li><%= error %></li>
						<% end %>
					</ul>
					<% end %>
					<div>
						<%= f.label :username, class: "black-text" %>
						<%= f.text_field :username %>
					</div><br>

					<div>
						<%= f.label :email, class: "black-text"  %>
						<%= f.email_field :email %>
					</div><br>

					<div>
						<%= f.label :first_name, class: "black-text"  %>
						<%= f.text_field :first_name %>
					</div>

					<div>
						<%= f.label :last_name, class: "black-text"  %>
						<%= f.text_field :last_name %>
					</div>

					<div>
						<%= f.label :password, class: "black-text"  %>
						<%= f.password_field :password %>
					</div><br>

					<div>
						<%= f.label :password_confirmation, class: "black-text"  %>
						<%= f.password_field :password_confirmation %>
					</div><br>

					<div class="center-btn">
						<button type="submit" name="Register!" class="btn orange darken-3">Register!</button>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>
