<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <% if current_user.id == @user.id %>
          <span class="card-title">Welcome <%= @user.full_name %>!</span>
        <% else %>
          <span class="card-title"><%= @user.full_name %>!</span>
        <% end %>
        <%= render 'profile' %>
        <div class="card-action">
          <ul>
            <% if logged_in? && authorized?(@user) %>
              <li><%= link_to 'Edit Profile', edit_user_path(@user.id) %></li>
              <li><%= link_to 'Delete Account', user_path(@user.id), method: 'DELETE' %></li>
              <li><%= link_to 'Add Child', new_user_child_path(@user.id) %></li>
            <% elsif logged_in? %>
            <% if @user.friends.include?(current_user) %>
              <li><%= link_to 'Schedule New Playdate', new_user_playdate_path(@user.id) %></li>
              <li><%= link_to 'Send Message', user_chats_path(current_user, :friend => @user.id), method: :post %></li>
            <% elsif current_user.pending_direct_add.include?(@user) %>
              <li><%= link_to "Accept Connection", direct_accept_path(@user) %></li>
              <li><%= link_to "Decline Connection", direct_decline_path(@user) %></li>
            <% elsif !@user.friendships.include?(current_user) && !@user.pending_direct_add.include?(current_user) %>
              <li><%= link_to 'Add Friend', direct_add_path(@user) %></li>
            <% end %>
             <% if flash[:friending] %>
              <li class="blue-grey-text text-lighten-4"><%= flash[:friending] %></li>
             <% end %>
            <% else %>
            <% render 'no_access' %>s
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




















