<h2>Profile Page for <%= @user.username %> </h2>
  <% if logged_in? && authorized?(@user) %>
    <%= link_to 'Edit Profile', edit_user_path(@user.id) %>
    <%= link_to 'Delete Account', user_path(@user.id), method: :destroy %>
    <%= link_to 'Add Child', new_user_child_path(@user.id) %>
    <%= link_to 'Delete Child', user_child_path(@user.id), method: :destroy %>
  <% end %>
