<% if current_user.id == @user.id %>
  <h3>Welcome <%= @user.full_name %>!</h3>
<% else %>
  <h3><%= @user.full_name %>!</h3>
<% end %>

<% if @user.children.any? %>
  <% @user.children.each do |child| %>
  <ul> Children:
    <li><%= link_to child.name, user_child_path(child.parent.id,child.id) %></li>
  </ul>
  <% end %>
<% end %>

<div class='survey'>
  <%= render 'profile' %>
</div>

<div>
  <% if logged_in? && authorized?(@user) %>
      <%= link_to 'Edit Profile', edit_user_path(@user.id) %>
      <%= link_to 'Delete Account', user_path(@user.id), method: 'DELETE' %>
      <%= link_to 'Add Child', new_user_child_path(@user.id) %>
    <% elsif logged_in? %>
      <% if @user.friends.include?(current_user) %>
        <%= link_to 'Send Message' %>
      <% elsif !@user.friendships.include?(current_user) %>
      <% elsif current_user.pending_direct_add.include?(@user) %>
        <%= link_to "Accept Connection", direct_accept_path(@user) %>
        <%= link_to "Decline Connection", direct_decline_path(@user) %>
        <%= link_to 'Add Friend', direct_add_path(@user) %>
      <% end %>
    <% else %>
      <% render 'no_access' %>
  <% end %>

  <% if flash[:request_sent] %>
    <%= flash[:request_sent] %>
  <% elsif flash[:accepted] %>
    <%= flash[:accepted] %>
  <% end %>
</div>
















