<div class="row">
  <div class="col s12">
    <div id='profile-card' class=" card grey lighten-3">
      <div class="card-content black-text">
        <% if current_user.id == @user.id %>
        <p class="card-title teal-text center-align">Hello, <%= @user.full_name %>!</p>
        <% else %>
        <p class="card-title center-align"><%= @user.first_name %></p>
        <% end %>
        <%= render 'profile' %>
        <div class="card-action">
          <% if flash[:friending] %>
          <li class="blue-grey-text text-lighten-4"><%= flash[:friending] %></li>
          <% end %>
          <ul>
            <% if logged_in? && authorized?(@user) %>
            <li> <!-- Modal Trigger -->
              <a class="waves-effect waves-light modal-trigger profile-button" href="#modal1">Edit Profile</a>
            </li>
            <li><a class="waves-effect waves-light modal-trigger profile-button" href="#delete-account">Delete Account</a>
            </li>
            <li>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light  modal-trigger profile-button" href="#add_child">Add Child</a>
            </li>
            <% elsif logged_in? %>
            <% if @user.friends.include?(current_user) %>
              <li><%= link_to 'New Playdate', new_user_playdate_path(@user.id) %></li>
              <li><%= link_to 'Send Message', user_chats_path(current_user, :friend => @user.id), method: :post %></li>
              <li><%= link_to 'Disconnect', disconnect_path(current_user, :friend => @user.id) %></li>
            <% elsif current_user.pending_direct_add.include?(@user) %>
              <li><%= link_to "Accept Connection", direct_accept_path(@user) %></li>
              <li><%= link_to "Decline Connection", direct_decline_path(@user) %></li>
            <% elsif !@user.friendships.include?(current_user) && !@user.pending_direct_add.include?(current_user) %>
              <li><%= link_to 'Add Friend', direct_add_path(@user) %></li>
            <% end %>
            <% else %>
            <% render 'no_access' %>s
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal col s15">
  <div class="modal-content">
    <div class="parent-profile">
      <% if logged_in? %>
      <%  if @user.avatar? %>
      <span style="margin-right:5px;"><%= image_tag @user.avatar.url, size: '40x40', class: "profile-pic"%></span>
      <% end %>
      <% end %>
      <h5 class=" center">Parent Profile</h5>
    </div>
    <div id='survey_form' class="row">
      <div class="">
        <div class=" black-text">
          <%= form_for @user do |f| %>

          <div>
            <div class="file-field input-field">
              <div class="btn col s6">
                <span>Profile Pic: </span>
                <%= f.file_field :avatar %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div id="zip" class="input-field col s8">
            <%= f.label :zipcode%>
            <%= f.text_field :zipcode, id: "zipcode", class: "validate" %>
          </div><br>
          <br>
          <br>
          <div>

            <p class="range-field">
              Radius (in miles):
              <input type="range" name='user[radius]' id="radius" min="0" max="50" />
            </p>
          </div>

          <div>
            <% f.label :first_name %>
            <%= f.text_field :first_name, placeholder: 'First Name' %>
          </div>

          <div>
            <% f.label :last_name %>
            <%= f.text_field :last_name, placeholder: 'Last Name' %>
          </div>

          <div>
            <select name='user[gender]'>
              <option value="" disabled selected>Gender</option>
              <option name="user[:gender]" id="male" />Male</option>
              <option name="user[:gender]" id="female" />Female</option>
              <option name="user[:gender]" id="non-binary" />Non-Binary</option>
            </select>
          </div>

          <div>
            <select name='user[marital_status]'>
              <option value='' disabled selected>Relationship Status</option>
              <option value='single'>Single</option>
              <option value='married'>Married</option>
              <option value='divorced'>Divorced</option>
              <option value='widowed'>Widowed</option>
              <option value='dating'>In A Relationship</option>
              <option value='polyamorous'>Polyamorous</option>
            </select>


          </div>




          <div>
            <span>Vaccinate?</span>
            <input class="with-gap" name="user[vaccinate]" type="radio" value="true" id='yes' />
            <label for="yes">Yes</label>

            <input class="with-gap" name="user[vaccinate]" type="radio" value="false" id='no'/>
            <label for="no">No</label>
          </div>
          <br>




          <div>
            <% f.label :religion %>
            <%= f.text_field :religion, placeholder: 'Thoughts On Religion' %>
          </div>


          <div class="input-field col s12">
            <select name='user[parenting_style]'>
              <option value="" disabled selected>Parenting Approach:</option>
              <option value="Figure It Out As We Go">Figure It Out As We Go</option>
              <option value="Carefully Research Everything">Carefully Research Everything</option>
              <option value="Whatever The Kardashians Are Doing">Whatever The Kardashians Are Doing</option>
              <option value="I Do What My Mom Tells Me To">I Do What My Mom Tells Me To</option>
              <option value="Some Of This, Some Of That">Some Of This, Some Of That</option>
            </select>
          </div>

          <div class="input-field col s12">
            <select name="user[date_night]">
              <option value="" disabled selected>Ideal Kidless Night:</option>
              <option value="Turn Up At The Club">Turn Up At The Club</option>
              <option value="Romantic Dinner And Drama Movie">Romantic Dinner And Drama Movie</option>
              <option value="Hotdogs And Horror Movie">Hotdogs And Horror Movie</option>
              <option value="Frozen Pizza And Blaze One">Frozen Pizza And Blaze One</option>
              <option value="Dive Bar And Shitty Garage Band">Dive Bar And Shitty Garage Band</option>
              <option value="Can't Go Out, We Have Kids">Can't Go Out, We Have Kids</option>
              <option value="Netflix And Chill">Netflix And Chill</option>
            </select>
          </div>

          <div class="input-field col s12">
            <select name='user[shopping_prefs]'>
              <option value="" disabled selected>I Buy My Kids' Clothes At:</option>
              <option value="Jack And Jill">Jack And Jill</option>
              <option value="Carter's">Carter's</option>
              <option value="Walmart">Walmart</option>
              <option value="I Make My Own Clothes">I Make My Own Clothes</option>
              <option value="Target">Target</option>
              <option value="Thrift It!">Thrift It!</option>
            </select>
          </div><br>

          <div class="input-field col s12">
            <select name='user[music]' multiple>
              <option value="" disabled selected>Check all that apply</option>
              <option value="Hip Hop">Hip Hop</option>
              <option value="R&B and Soul">R&B and Soul</option>
              <option value="Jam Bands">Jam Bands</option>
              <option value="House and Techno">House and Techno</option>
              <option value="Classical and Jazz">Classical and Jazz</option>
              <option value="Ambient Drone Synth">Ambient Drone Synth</option>
              <option value="Metal and Hardcore">Metal and Hardcore</option>
              <option value="Pop Country">Pop Country</option>
              <option value="Disney Radio">Disney Radio</option>
              <option value="Gospel">Gospel</option>
              <option value="Classic Rock">Classic Rock</option>
              <option value="Indie Rock">Indie Rock</option>
              <option value="Ska and Punk">Ska and Punk</option>
            </select>
            <label>Favorite Music:</label>
          </div><br>

          <div>
            Favorite Activities:
            <% f.label :fav_activities %>
            <%= f.text_area :fav_activities, class: "materialize-textarea"%>
          </div>


          <div>
            About Me:
            <% f.label :bio %>
            <%= f.text_area :bio, length: "300", class: "materialize-textarea", id: "textarea1"%>
          </div>
        </div>

      </div>
    </div>
    <div id='modal-footer-overide' class="modal-footer">
      <input type='submit' value='Save' class=" modal-action btn card-action">
      <input class='modal-action btn card-action modal-close' value='Cancel'>
    </div>
  </div>
  <% end %>
</div>
</div>


<!-- Modal Structure -->
<div id="add_child" class="modal">
  <div class="modal-content">
    <%= render partial: 'children/new' %>
  </div>
</div>



<!-- Modal Structure -->
<div id="delete-account" class="modal">
  <div class="modal-content">
    <h4>Fine, be that way!</h4>
    <p >Are you sure you want to delete your account?</p>
  </div>
  <div class="">
    <%= link_to 'Delete Account', user_path(current_user.id), method: 'DELETE', class: 'red delete-profile-button' %>
    <%= link_to 'Stay!', user_path(current_user.id), class: 'delete-profile-button modal-close' %>
  </div>
</div>
