<h4 class="teal-text text-lighten-3 center-align">Messages</h4>

<% if !current_user.friends.empty? %>
      <ul>
        <% current_user.friends.each do |friend| %>
          <li class="collection-item connection-item">
            <%= link_to( user_chats_path(current_user, :friend => friend.id), method: :post, class: "recent-connect collection-item") do %>
            <span class="recent-connect-avatar">
              <%  if friend.avatar? %>
                <%= image_tag friend.avatar.url, size: '30x30', class: "message-pic"%>
              <% else %>
                <%= image_tag "kinder-icon-circle.png", :size => "30x30" %>
              <% end %>
            </span>
            <span class="recent-connect-name"><%= friend.full_name%></span>
            <% end %>
          </li>
        <% end %>
        </ul>
<% else %>
  <p>You have no connections yet. You can start by looking through <%= link_to "kinders", kinders_path %> to make connections and schedule playdates.<p>
<% end %>
