<div class="row">
  <div class="col s12 m5">
    <div class="card-panel white center-align">
      <p>Thanks for visiting Kinder!</p>
      <ul>
        <i class="material-icons teal-text text-lighten-3">person_pin</i>
        <li>Created By:</li>
        <li><%= link_to "Amanda Lin", "https://www.linkedin.com/in/adnamalin"%></li>
        <li><%= link_to "Benji Shyman", "https://www.linkedin.com/in/bshyman" %></li>
        <li><%= link_to "Leland Meiners", "https://www.linkedin.com/in/lelandmeiners"%></li>
        <li><%= link_to "Vivien Kuo", "https://www.linkedin.com/in/vivien-kuo-8552a636" %></li>
      </ul>
      <ul class="black-text">
        <li>Visit our code at <%= link_to 'Github', "https://github.com/adnamalin/Kinder" %></li>
        <li>Thanks to <%= link_to 'Zipcode API', "https://www.zipcodeapi.com/" %></li>
     </ul>
    </div>
  </div>
</div>
