<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kinder</title>
  <%= favicon_link_tag 'kinder-favicon.png' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav class="orange darken-3">
    <a href="#" class="brand-logo center"><%= image_tag "kinder-icon-circle.png", :size => "40x40"%> Kinder</a>
    <!-- nav bar menu for web -->
    <ul class="hide-on-med-and-down">
    <% if current_user %>
      <li><%= link_to 'Dashboard', dashboard_path(current_user.id), class: "waves-effect"  %></li>
      <li><%= link_to 'Kinder', kinders_path, class: "waves-effect"  %></li>
      <li><%= link_to 'Profile', user_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Messages', user_chats_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Connections', user_connections_path(current_user.id), class: "waves-effect" %></li>
          </ul>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Logout', logout_path, class: "waves-effect"  %></li>
      <% else %>
      <li><%= link_to 'Login', login_path, class: "waves-effect" %></li>
      <li><%= link_to 'Register', new_user_path, class: "waves-effect" %></li>
      <% end %>
    </ul>
    <!-- Side bar menu for mobile -->
    <ul id="slide-out" class="side-nav">
      <% if current_user %>
      <li><%= link_to 'Dashboard', dashboard_path(current_user.id), class: "waves-effect"  %></li>
      <li><%= link_to 'Kinder', kinders_path, class: "waves-effect"  %></li>
      <li><%= link_to 'Playdates', user_playdates_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Profile', user_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Messages', user_chats_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Connections', user_connections_path(current_user.id), class: "waves-effect" %></li>
      <li><%= link_to 'Logout', logout_path, class: "waves-effect"  %></li>
      <% else %>
      <li><%= link_to 'Login', login_path, class: "waves-effect" %></li>
      <li><%= link_to 'Register', new_user_path, class: "waves-effect" %></li>
      <% end %>
      <li><%= link_to 'About', about_path, class: "waves-effect" %></li>
      <li><%= link_to 'Contact', contact_path, class: "waves-effect" %></li>
      <li class="no-padding">
    </ul>
    <ul class="left">
      <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
    </ul>
    </nav>
    <%= yield %>
  </body>
  </html>
